export default createGlobalStyle`
  :root {
    --dark: #313131;
  }

  * {
    margin: 0;
    padding: 0;
  }

  *, ::after, ::before {
    box-sizing: border-box;
  }

  html, body {
    height: 100%; /* Garante que o body ocupe toda a altura da janela */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }

  body, input, select, textarea {
    font-size: 1rem;
    color: var(--dark);
  } 
`;
